


:root {
    --solid-border-color: #134F5C;
    --work-border-color: #C0C0C0;
    --body-background-color: rgb(248, 248, 255);
}

* {
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto Slab', serif;
    box-sizing: border-box;
}

body {
    background-color: var(--body-background-color);
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}
/* nav styling start */

nav {
    background: var(--solid-border-color);
    padding: 0 12px;
    margin-bottom: 2vh; 
}

a {
    color: white;
    text-decoration: none;
}

.menu, 
.submenu {
    list-style-type: none;
    align-items: left;
    justify-content: center;
}

.logo {
    font-size: 25px;
    /* apply padding */
}

.nav-item {
    padding: 10px;
}

a:hover, 
.nav-item a:hover::after {
    color: var(--work-border-color);
}

            /* Mobile Style */
.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.menu li a {
    display: block;
    padding: 10px 5px;
}

.menu li.subitem a {
    padding: 15px;
}

.toggle {
    order: 1;
    font-size: 20px;
}

.nav-item {
    order: 3;
    width: 100%;
    text-align: center;
    display: none;
}

.active .nav-item {
    display: block;
    /* justify-content: left;
    text-align: center;
    margin: auto; */
}

/* Submenu Mobile */
.submenu {
    display: none;
}

.submenu-active .submenu {
    display: block;
  }
  .has-submenu i {
    font-size: 12px;
    padding-left: 5px;
  }

  .subitem a {
    padding: 10px 15px;
  }
  .submenu-active {
    background-color: #111;
    border-radius: 3px;
  }

/* tablet styling */
@media all and (min-width: 700px) {
    .menu {
        justify-content: center;
    }

    .logo {
        flex: 1;
    }

    .toggle {
        flex: 1;
    }


    
}
  
  
/* Destop Styling */
@media all and (min-width: 960px) {
    .menu {
        align-items: flex-start;
        flex-wrap: nowrap;
        background: none;
    }

    .logo {
        order: 0;
    }

    .nav-item {
        order: 1;
        position: relative;
        display: block;
        width: auto;
    }

    .submenu-active .submenu {
        display: block;
        position: absolute;
        left: 0;
        top: 50px;
        background: #111;
        flex-wrap: nowrap;
    }

    .toggle {
        display: none;
    }

    .submenu-active {
        border-radius: 0;
    }
}

.bio-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
}

.row {
    display: flex;
    gap: 2vw;
    align-items: center;
}

.bio-info {
    display: inline-block;
    align-self: flex-start;
    text-align: justify;
    padding: 0 5vw 0 3vw;
}

.bio-info h2 {
    text-align: center;
}

.bio-container img {
    display: flex;
    align-self: flex-start;
}

#projects {
    margin-top: 5vh;
}

#projects h2 {
    text-align: center;
}

#projects-hr {
    width: 65vw;
    background: url(//assets/images/compass.png) center center no-repeat;
    padding: 0; 
    border: none;
}

.projects-grid {
    background-image: url(https://media.istockphoto.com/photos/beautiful-vista-of-mount-hood-in-oregon-usa-picture-id526596821?k=20&m=526596821&s=612x612&w=0&h=ZzKdPys6BWUkNWRJvQlnvVcc1n2KUuvMtPmOqyxybXI=) fill no-repeat;
}

